body{
  background-color:#3050F0;
}
.classe1{ 
  display:flex;
  padding:0 40px;
  position:relative;
  bottom:30px;
  justify-content:center;
  color:white;
  margin:30px;
  
}
P{
  margin:20px 50px;
    font-size: 18px;
  font-weight:500px;

}
  
h1{
  text-align:center;
  font-size:48px;
  font-weight:700;
  color:white;
  margin-bottom:70px;
  margin-top:120px;
}
body{
  font-family:sans-serif;
   overflow-x: hidden;
}
.classe4{
  width:200px;
  height:200px;
  border-radius:16px;
 position:relative;
  left:10px;
 background: linear-gradient(
  135deg,
  #ffffff,
  rgba(255,255,255,0.4)
);


}
.classe3{
 padding:14px 34px;
  background-color:#22A35D;
  color:#FFFFFF;
   position:relative;
  bottom:150px;
  margin-right:20px;
  right:48px;
  border-radius:10px;
  transition: all 0.3s ease;
  
}
.botoes{
 position:relative;
 left:600px;
  padding:40px 0;
 
}
.classe3:hover{
transform: scale(1.08);
box-shadow: 0px 4px 15px rgba(0,0,0,0.20);
  
}
p:hover{
  border-bottom: 2px solid white;
 
}

@media (max-width: 768px) {
  .classe1{
    font-size:16px;
    padding:0 5px;

    
    
  }
  p{
 margin:0 5px;
    
  }
  h1{
    font-size:32px;
    margin-top:90px;
  }
 
  
  .classe3{
    font-size:16px;
    padding: 12px 24px;
    
  
  }
  .classe4{
    width:160px;
    height:160px;
    margin-top:60px;

}
  body{
display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
    margin:0;
    height:100vh;

    
  }

}
