body{
  background-color:#3050F0;
}
.classe1{ 
  display:flex;
  padding:0 40px;
  position:relative;
  bottom:30px;
  justify-content:center;
  color:white;
  margin:30px;
  
}
P{
  margin:20px 50px;
    font-size: 18px;
  font-weight:500px;

}
  
h1{
  text-align:center;
  font-size:48px;
  font-weight:700;
  color:white;
  margin-bottom:70px;
  margin-top:120px;
}
body, html{
  font-family:sans-serif;
   overflow-x: hidden;
}
.classe4{
  width:200px;
  height:200px;
  border-radius:16px;
 position:relative;
  left:10px;
 background: linear-gradient(
  135deg,
  #ffffff,
  rgba(255,255,255,0.4)
);


}
.classe3{
 padding:14px 34px;
  background-color:#22A35D;
  color:#FFFFFF;
   position:relative;
  bottom:150px;
  margin-right:20px;
  right:48px;
  border-radius:10px;
  transition: all 0.3s ease;
  
}
.botoes{
 position:relative;
 left:600px;
  padding:40px 0;
 
}
.classe3:hover{
transform: scale(1.08);
box-shadow: 0px 4px 15px rgba(0,0,0,0.20);
  
}
p:hover{
  border-bottom: 2px solid white;
 
}

@media (max-width: 768px) {

p{
  position:relative;
 margin-right:-11px;
box-sizing:border-box;
  right:40px;
  
}
  h1{
   margin:0 0 -150px 0;
    box-sizing:border-box;

  }
  .classe3{
    position:relative;
    box-sizing:border-box;
 right:600px;
    top:40px;
    margin: 90px;
  }
button.classe3{
display:block;
  position:relative;
  margin-top:150px;
  margin-left:100px;
}
  button.classe4{
    display:block;
  margin-left:-540px;
  }
  body, html{
  overflow-x: hidden;
  }
}
